<!DOCTYPE html>
<html>
  <head>
    <title>Index page</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div>
        <div>Hello? Hello!</div>

        <ul>
          {{#each users}}
            <li> {{this}} </li>
          {{/each}}
        </ul>

        {{! Коментарь }}

        <!-- HTML коментарь -->

        {{!-- <div>Hello world</div> --}}
    </div>
  </body>
</html>