<div>
    {{> space}}

    {{> title text="User list"}}
    {{> line}}

    <ul>
        {{#each data.userlist}}
            <li>
                <div>ID: {{id}} </div>
                <div>Name: {{name}} </div>

                <div>
                    {{#if isAdmin}}
                        {{> button text="Send report"}}

                    {{else}}
                        {{> button text="Send messadge"}}

                    {{/if}}
                </div>

                {{#unless isConfirm}}
                    <div>
                        {{> button text="You need a varification"}}
                    </div>
                    
                {{/unless}}
                

                {{#if balance includeZero=true }}
                    <div><strong>Your balance: {{balance}} </strong></div>
                {{/if}}

                <br>
            </li>
        {{/each}}
    </ul>
</div>